* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mak;
  src: url("./font/Mak font/MAK.otf");
}

body {
  font-family: Mak;
  font-size: 16px;
  background-color: #f5b22c;
  color: white;
  overflow-x: hidden;
  cursor: default;
}


/*navbar*/

nav {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/*first section*/

#main_page {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-artist {
  max-width: 60%;
  height: 80vh;
}

.name {
  position: absolute;
  top: 10%;
  left: 6%;
  font-size: 8rem;
}

/*second section*/

#about_me {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
}

#about_me .introduction {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*third section*/

#works {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#works h1 {
  font-size: 4rem;
}

.carousel {
  position: relative;
  display: flex;
  width: 80%;
  height: 80%;
}

.carousel_item,
.carousel_item--hidden {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

.carousel_item img {
  max-width: 100%;
  max-height: 100%;
  min-width: 250px;
  min-height: 300px;
}

.carousel_item--visible {
  display: block;
}

.carousel_actions {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel_actions button {
  margin: 0 5%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: white;
  color: #f5b22c;
  font-weight: bold;
}

/*third section*/

#contacts {
  width: 100vw;
  height: 30vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacts a {
  color: white;
}


/*footer*/

footer {
  width: 100vw;
  height: 5vh;
  text-align: center;
}

/*media queries*/

@media (max-width: 1200px) {
  .carousel_actions {
    width: 25%;
    position: relative;
  }
}

@media (max-width: 1000px) {
  .navigation a {
    font-size: 1rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .img-artist {
    display: none;
  }

  #main_page {
    background-image: url("images/130498230_209204754126170_8340285128414934849_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #about_me {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  nav {
    display: none;
  }

  #main_page {
    height: 100vh;
  }

  #about_me {
    font-size: 1rem;
  }

  .carousel {
    height: 60%;
  }

  .carousel_actions button {
    width: 2rem;
    height: 2rem;
  }

  #contacts {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.5rem;
  }

}